@page
@model IndexModel

@{
	ViewData["Title"] = "ЖК Империя";
}

@using System.IO;
<head>
	<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>
<section class="welcome-section">
    <img class="main-image" src="https://bigfoto.name/uploads/posts/2022-01/1642224032_24-bigfoto-name-p-kvartirnie-doma-42.jpg" alt="Изображение жилого комплекса">
    <h2>Добро пожаловать</h2>
    <p>В ЖК "Империя" вы найдете идеальное жилье для себя и своей семьи.</p>
</section>

<section class="developer-info">
    <h2>О застройщике</h2>
    <p>Застройщик "Империя" - лидер рынка недвижимости, предоставляющий высококачественное жилье для семей и индивидуальных клиентов. Мы гарантируем комфорт, безопасность и инновационные решения для вашего дома.</p>
</section>

<section class="news">
    <h2>Актуальные новости</h2>
    <ul>
        @if (ViewData["news"] is List<string> news && news.Count > 0)
        {
            foreach (var newsItem in news)
            {
                <li>@newsItem</li>
            }

        }
        else
        {
            <li>Нет актуальных новостей на данный момент.</li>
        }
    </ul>
</section>

<section class="gallery">
    <h2>Галерея проектов</h2>
    <div class="gallery-images">
        @{
            var houses = ViewData["houses"] as List<string>;
            foreach (var file in houses)
            {
                <img src="@file" alt="Проект @file" />
            }
        }
    </div>
</section>

<section class="carousel">
    <h2>Планировки</h2>
    <div class="scroll-list">
        @{
            var apps = ViewData["apps"] as List<string>;
            foreach (var file in apps)
            {
                string relativePath = file.Replace("\\", "/").Replace("wwwroot", "");
                <img class="item" src="@relativePath" alt="Планировка" />
            }
        }
    </div>
</section>


<script src="~/js/Index.js" asp-append-version="true"></script>